.message {
    width: 100%;
}

.msg {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 10px 4px 10px;
    padding: 0px 14px 0px 14px;
    width: fit-content;
    max-width: 75%;
    animation: spawn 300ms ease;
    color: white;
    -webkit-text-fill-color: white;
    font-size: 16px;
}

@keyframes spawn {
    0% {
        margin-bottom: -50px;
    }

    100% {
        margin-bottom: 4px;
    }
}

.msg>p {
    word-break: break-word;
}

.messageUser {

    margin-left: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    color: black;
    -webkit-text-fill-color: rgb(0, 0, 0);
    border-bottom: solid 3px rgba(0, 0, 0, 0.219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
}

.messageAI {
    margin-right: auto;
    background-color: rgba(0, 136, 7, 0.925);
    border-radius: 14px;
    white-space: pre-wrap;
}
.error {
    background-color: rgba(231, 126, 143, 0.315);
    border: solid 2px rgba(255, 255, 255, 0.267);
}
.loading {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.801);
    margin: 0px 10px -10px 20px;
}
@media only screen and (max-width: 600px) {
    .msg {
        font-size: 15px;
    }
}